$color-primary: #79BA11;
$color-secondary: #759E33;
$background: white;
$transition-base: all 0.2s ease-out;
$transition-long: all 0.5s ease-out;
$white: #fff;
$black: #000;
$light-grey: #ededed;
$dark-grey: #333;
$content-width: 70rem;

* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}
body{
   // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}


@mixin columns () {
    position: relative;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    margin: calc((2rem / 2) * -1);
    .column {
        margin: 1rem;
        flex-basis: calc(50% - 2rem);
        flex-grow: 0;
        min-width: calc(50% - 2rem);
        border: 1px solid $color-secondary;
        padding: 1rem;
    }
}