.banner {
  width: 100%;
  height: 60vh;
  background-image: url("../images/background_home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  .banner-content {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: $content-width;
    justify-content: flex-start;
    align-items: center;

    > .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.8);
      height: 100%;
      width: 500px;
    }
  }
}

.cta {
  background-image: url("../images/background_home_5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0rem;
  width: 100%;

  > .inner {
    background: rgba(white, 0.85);
    padding: 1rem;
    position: relative;
    width: 30%;
    padding: 2rem;
    border: 2px solid $color-primary;
    justify-content: center;
    h2,
    p {
      text-align: center;
    }
    .button {
      margin: 0 auto;
    }
  }
  .special_h2:before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  height: 20rem;
  overflow: hidden;
  a {
    max-width: 20%;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.menu .column {
  img {
    max-width: 100%;
  }
  h3 {
    text-transform: uppercase;
  }
  .price {
    color: $color-primary;
    font-weight: 700;
    font-size: 15px;
    text-align: right;
  }
}
.address p {
  margin-bottom: 0;
}
.address a {
  color: $color-default;
  transition: $transition-base;
  &:hover {
    color: $color-primary;
  }
}
.social a {
  &:not(:last-child) {
    margin-right: 1rem;
  }
  &:hover i {
    color: $dark-grey;
  }
  i {
    font-size: 32px !important;
    transition: $transition-base;
  }
}
@media screen and(max-width: 960px) {
  .image-frist {
    order: 1;
  }
  .banner .banner-content {
    width: 100%;
  }
  .cta > .inner {
    width: calc(100% - 4rem);
  }
}
@media screen and(max-width: 720px) {
  .gallery {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;

    a {
      max-height: 300px;
      max-width: 100%;
    }
  }
  .cta > .inner {
    width: calc(100% - 3rem);
  }
}