/*
* Menu Setup
*
*/

// Menu Wrapper is the base of the menu
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-basis: 100%;
  border-bottom: 1px solid $light-grey;
  max-height: 100px;

  > .inner {
    width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  // Logo initialization
  .logo {
    max-width: 210px;
    img {
      width: 100%;
    }
  }

  // Initialization for the menu points
  .ed-menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: auto;
      flex: 1 0 auto;
      li:not(:last-child) {
        margin: 0px 32px 0px 0px;
      }
      a {
        padding: 10px 15px;
        border: 1px solid $color-primary;
        transition: $transition-long;
        text-align: center;
        // Sets the gaps between
        &:hover,
        &.active {
          background: $color-primary;

          color: white;
        }
      }
    }
  }
  // Mobile content shouldn't displayed on desktop
  .mobile-cont {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

/*
* At Breakpoint 960px iPad standard is reached and
* menu switches to mobile view
*/

@media screen and(max-width: 920px) {
  body {
    max-width: 100%;
    overflow: hidden;
  }
  // Menu wrapper behavoir while mobile
  .menu-wrapper {
    > .inner {
      width: 100%;
      overflow: hidden;
    }
    // Initialization for the mobile menu
    .mobile-cont {
      visibility: visible;
      opacity: 1;
      display: flex;
      flex-grow: 1;
      flex-basis: auto;
      max-width: 100%;
      flex-direction: column;

      > .inner {
        place-content: center flex-end;
        align-items: center;

        // Initialization Trigger
        .menu-trigger {
          flex-basis: auto;
          opacity: 1;
          z-index: 101;
          cursor: pointer;
          position: relative;

          .menu-trigger-box {
            height: 20px;
          }

          // Trigger creation
          .menu-trigger-inner {
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: $color-secondary;
            transition: $transition-base;
            &::before,
            &::after {
              content: "";
              position: absolute;
              top: -8px;
              width: 28px;
              height: 3px;
              background: $color-secondary;
              transition: $transition-base;
            }
            &::after {
              top: 8px;
              width: 20px;
            }
          }

          &.open .menu-trigger-inner {
            transform: rotate(45deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &:before {
              top: 0;
              opacity: 0;
              transition: top 0.075s ease, opacity 0.075s 0.12s ease;
            }

            &:after {
              bottom: 0;
              transform: rotate(-90deg);
              transition: bottom 0.075s ease,
                transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
              top: 0px;
              width: 28px;
            }
          }
        }
      }
    }

    // Menu behavoir while mobile
    .ed-menu {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50%;
      height: 100vh;
      background: $background;
      left: auto;
      top: 0;
      right: -100%;
      transform: translate3d(100%, 0, 0);
      transition: $transition-long;
      ul {
        max-width: 50%;
        flex-direction: column;
        li {
          width: auto;
          margin: 0px 0px 16px 0px !important;
        }
      }
      &.open {
        right: 0%;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
