/*
* Menu Setup
*
*/

// Menu Wrapper is the base of the menu
.menu-wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-basis: 100%;
  border-bottom: 1px solid $light-grey;

  > .inner {
    width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  // Logo initialization
  .logo {
    max-width: 210px;
    img {
      width: 100%;
    }
  }

  // Initialization for the menu points
  .ed-menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: auto;
      flex: 1 0 auto;
      li {
        padding: 10px 15px;
        border: 1px solid $color-primary;
        transition: $transition-long;
        &:hover,
        &.active {
          background: $color-primary;
          a {
            color: white;
          }
        }
        // Sets the gaps between
        &:not(:last-child) {
          margin: 0px 32px 0px 0px;
        }
      }
    }
  }
  // Mobile content shouldn't displayed on desktop
  .mobile-cont {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

/*
* At Breakpoint 960px iPad standard is reached and
* menu switches to mobile view
*/

@media screen and(max-width: 920px) {
  // Initialization for the mobile menu 
  .mobile-cont {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
    flex-direction: column;
    
    > .inner {
      place-content: center flex-end;
      align-items: center;
      
      // Phone Icon stlye
      .ed-icon {
        margin: auto 1rem auto auto;
        text-align: center;
        flex-basis: auto;
      }

      // Initialization Trigger
      .menu-trigger {
        flex-basis: auto;
        opacity: 1;
        z-index: 101;
        cursor: pointer;
        position: relative;
        
        // Trigger creation
        .menu-trigger-inner {
          position: absolute;
          right: 0;
          top: 0.5rem;
          width: 28px;
          height: 3px;
          background: $color-secondary;
          transition: $transition-base;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: $color-secondary;
            transition: $transition-base;
          }
          &::after {
            top: 8px;
            width: 20px;
          }
          &.open {
            transform: rotate(720deg);
            background: transparent;
            &:before {
              transform: rotate(45deg) translate(5px, 8px);
            }
            &:after {
              width: 28px;
              transform: rotate(-45deg) translate(3px, -7px);
            }
          }
        }
      }
    }
  }

  // Menu wrapper behavoir while mobile
  .menu-wrapper {
    > .inner {
      width: 100%;
      overflow: hidden;
    }
    
    // Menu behavoir while mobile
    .ed-menu {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      min-height: 100%;
      background: $background;
      left: auto;
      top: 0;
      right: -100%;
      transform: translate3d(0, -100%, 0);
      ul {
        max-width: 50%;
        flex-direction: column;
        li {
          width: auto;
          margin: 0px 0px 16px 0px !important;
        }
      }
    }
  }
}