
.menu{
    background: red;
}
@media screen and(max-width: 920px) {
  .menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: $transition-base;
    .menu-btn-burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: $color-secondary;
      transition: $transition-base;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: $color-secondary;
        transition: $transition-base;
      }
      &::after {
        top: 8px;
        width: 20px;
      }
      &.open {
        transform: rotate(720deg);
        background: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 8px);
        }
        &:after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  .nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    visibility: hidden;
    &.open {
      visibility: visible !important;
    }
    .menu-nav {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      text-align: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: $color-primary;
      padding-right: 1rem;
      transition: $transition-long;
      transform: translateY(-100%);
      &.open {
        transform: translateY(0%);
      }
      &-item {
        transform: translateX(100vw);
        transition: $transition-long;
        list-style-type: none;
        &.open {
          transform: translateX(0);
        }
        a:hover {
          color: $white;
        }
        &.active > a {
          color: $white;
        }
      }
      &-link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0rem;
        transition: $transition-long;
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }

  @for $i from 1 through 4 {
    .menu-nav-item:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s) + 0.15s;
    }
  }
}
