.page-id-order {
  margin-top: 97px;
  .banner {
    background-image: url("../images/background_order_2.jpg");
    height: 45vh;
    background-position: top left;
  }
  // shop page can't handle rem
  p {
    line-height: 32px;
    font-size: 2016;
  }
  .columns-three {
    margin: 0;
  }
}
.shame_dp_accept {
  border-color: $color-primary !important;
  background: $color-primary !important;
  color: white !important;
  &:hover {
    background: $color-secondary !important;
  }
}
.shame_dp_decline {
  border-color: white !important;
  &:hover {
    background: none !important;
    color: $color-primary !important;
  }
}
.order-fix .cnt223 {
  h3{
    font-size: 20px;
    font-weight: 600;
  }
  a {
    font-family: "Raleway";
    font-size: 16px;
    position: relative;
    padding-left: 16px;
  }
}
