@import 'config';
@import 'home';
@import 'menu';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;700&display=swap');
body {
    background: $background;
    color: $color-secondary;
    font-family: 'Jost', sans-serif;
    line-height: 1rem;
}

h1,
h2,
h3 {
    font-weight: 200;
    line-height: 2rem;
}

a {
    color: $color-secondary;
    text-decoration: none;
    transition: $transition-base;
    &:hover {
    //    color: $color-primary
    }
}

p {
    line-height: 1.8rem;
}

button {
    background: $color-primary;
    border: 1px solid $white;
    font-size: 1.2rem;
    padding: 10px 15px;
    color: $white;
    transition: $transition-base;
    margin-top: 1rem;
    width: 180px;
    i {
        transition: $transition-long;
        padding-left: 1px;
    }
    &:hover {
        background: $color-secondary;
        border-color: $color-secondary;
        color: $white;
        i {
            padding-left: 1rem;
            color: white;
        }
    }
}
#button-back {
  margin-right: 2rem;
    &:hover{
        background: $color-secondary;
        border-color: $color-secondary;
        i {
            padding-left: 0rem;
            padding-right: 1rem;
        }
    }
}