$color-primary: #79ba11;
$color-secondary: #759e33;
$color-default: #444;
$background: white;
$transition-base: all 0.2s ease-out;
$transition-long: all 0.5s ease-out;
$white: #fff;
$black: #000;
$light-grey: #ededed;
$dark-grey: #333;
$content-width: 1120px;

@import "home";
@import "menu";
@import "order";
@import "legal";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Raleway:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  background: $background;
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h1,
h2 {
  font-weight: 200;
  line-height: 3rem;
  font-family: "Concert One";
}
.special_h2 {
  position: relative;
  &:before {
    content: "";
    width: 80px;
    height: 5px;
    background: $color-primary;
    position: absolute;
    left: 0;
    bottom: -10px;
  }
}

h3 {
  line-height: 2rem;
  letter-spacing: 1px;
  color: $color-default;
}

a {
  color: $color-secondary;
  text-decoration: none;
  transition: $transition-base;
  &:hover {
    color: $color-primary;
  }
}

p {
  line-height: 2rem;
  letter-spacing: 1px;
  color: $color-default;
}

.button {
  background: $color-primary;
  font-size: 1.2rem;
  padding: 15px 15px;
  color: $white;
  transition: $transition-base;
  margin-top: 1rem;
  width: max-content;
  display: flex;
  justify-content: center;
  a {
    color: white;
  }
  &:hover {
    background: $color-secondary;
    color: $white;
  }
}
.spacer {
  width: 100%;
  height: 2rem;
}

.columns {
  position: relative;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  margin: calc((2rem / 2) * -1);
  .column {
    margin: 1rem;
    flex-basis: calc(50% - 2rem);
    flex-grow: 0;
    min-width: calc(50% - 2rem);
  }
}
.columns-three {
  position: relative;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  margin: calc((2rem / 2) * -1);
  .column {
    margin: 1rem;
    flex-basis: calc(33% - 2rem);
    flex-grow: 0;
    min-width: calc(33% - 2rem);
  }
}
.container-flex {
  display: flex;
  width: $content-width;
  margin: 0 auto;
  flex-direction: column;
  padding: 8rem 0rem;
}
@media screen and(max-width: 960px) {
  body {
    overflow-y: scroll;
  }
  .container-flex {
    width: 100%;
    max-width: 100%;
    padding: 8rem 1rem;
  }
  .columns {
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: visible;

    margin: calc((2rem / 2) * -1);
    .column {
      margin: 1rem;
      flex-basis: 100%;
      min-width: 0;
    }
  }
  .columns-three {
    width: 100%;
    overflow: visible;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0;
    .column {
      margin: 1rem;
      flex-basis: 100%;
      flex-grow: 0;
      min-width: 100%;
    }
  }
}
