@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/background-2.jpg");
  background-size: cover;
}

.home .name {
  font-size: 5rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  border-bottom: 2px solid white;
}

.home .last {
  color: #79BA11;
}

.home h2 {
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home h1 {
  width: 100%;
}

/*
* Menu Setup
*
*/
.menu-wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-basis: 100%;
  border-bottom: 1px solid #ededed;
}

.menu-wrapper > .inner {
  width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.menu-wrapper .logo {
  max-width: 210px;
}

.menu-wrapper .logo img {
  width: 100%;
}

.menu-wrapper .ed-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  flex: 1 0 auto;
}

.menu-wrapper .ed-menu ul li {
  padding: 10px 15px;
  border: 1px solid #79BA11;
  transition: all 0.5s ease-out;
}

.menu-wrapper .ed-menu ul li:hover, .menu-wrapper .ed-menu ul li.active {
  background: #79BA11;
}

.menu-wrapper .ed-menu ul li:hover a, .menu-wrapper .ed-menu ul li.active a {
  color: white;
}

.menu-wrapper .ed-menu ul li:not(:last-child) {
  margin: 0px 32px 0px 0px;
}

.menu-wrapper .mobile-cont {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/*
* At Breakpoint 960px iPad standard is reached and
* menu switches to mobile view
*/
@media screen and (max-width: 920px) {
  body {
    max-width: 100%;
    overflow: hidden;
  }
  .menu-wrapper > .inner {
    width: 100%;
    overflow: hidden;
  }
  .menu-wrapper .mobile-cont {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
    flex-direction: column;
  }
  .menu-wrapper .mobile-cont > .inner {
    place-content: center flex-end;
    align-items: center;
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger {
    flex-basis: auto;
    opacity: 1;
    z-index: 101;
    cursor: pointer;
    position: relative;
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #759E33;
    transition: all 0.2s ease-out;
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner::before, .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner::after {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: #759E33;
    transition: all 0.2s ease-out;
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner::after {
    top: 8px;
    width: 20px;
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner.open {
    transform: rotate(720deg);
    background: transparent;
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner.open:before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .menu-wrapper .mobile-cont > .inner .menu-trigger .menu-trigger-inner.open:after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  .menu-wrapper .ed-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: white;
    left: auto;
    top: 0;
    right: -100%;
    transform: translate3d(0, -100%, 0);
  }
  .menu-wrapper .ed-menu ul {
    max-width: 50%;
    flex-direction: column;
  }
  .menu-wrapper .ed-menu ul li {
    width: auto;
    margin: 0px 0px 16px 0px !important;
  }
}

body {
  background: white;
  color: #759E33;
  font-family: 'Jost', sans-serif;
  line-height: 1rem;
}

h1,
h2,
h3 {
  font-weight: 200;
  line-height: 2rem;
}

a {
  color: #759E33;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

p {
  line-height: 1.8rem;
}

button {
  background: #79BA11;
  border: 1px solid #fff;
  font-size: 1.2rem;
  padding: 10px 15px;
  color: #fff;
  transition: all 0.2s ease-out;
  margin-top: 1rem;
  width: 180px;
}

button i {
  transition: all 0.5s ease-out;
  padding-left: 1px;
}

button:hover {
  background: #759E33;
  border-color: #759E33;
  color: #fff;
}

button:hover i {
  padding-left: 1rem;
  color: white;
}

#button-back {
  margin-right: 2rem;
}

#button-back:hover {
  background: #759E33;
  border-color: #759E33;
}

#button-back:hover i {
  padding-left: 0rem;
  padding-right: 1rem;
}
